<form #ar="ngForm" (ngSubmit)="onSubmit(ar)">
  <div class="form-group">
    <div class="row">
      <div class=" col-md-4">
        <label for="nome">Aspect Ratio:</label>
        <select class="form-control" name="ratio" (change)="setAspectRatioType(selectedValue)">
          <option *ngFor="let aspectRatioType of Aspects()" [value]="aspectRatioType">{{aspectRatioType}}</option>
        </select>
      </div>
      <div class=" col-md-4">
          <label for="nome">Price:</label>
          <select class="form-control" name="price" (change)="setAspectRatioType(selectedValue)">
            <option *ngFor="let priceType of Prices()" [value]="price">{{priceType}}</option>
          </select>
        </div>
    </div>
    <br />
    <div class="span">
      <button type="button" class="btn btn-primary btn-xs" (click)="searchAdvertise()">
        <span class="glyphicon glyphicon-search"></span>Pesquisar
      </button>
    </div>
  </div>
</form>
<br />
<ul class="list-group panel-shadow">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-2">Aspect Ratio</th>
        <th class="col-md-2">Size</th>
        <th class="col-md-2">Cheap Price</th>
        <th class="col-md-2">Normal Price</th>
      </tr>
    </thead>
    <tbody *ngFor="let display of displayList">
      <tr>
        <td [innerHtml]="aspectRatioLabel(display.displaySize.id)"></td>
        <td>{{display.displaySize.width}}:{{display.displaySize.height}}</td>
        <td>{{display.prices[0].price}}</td>
        <td>{{display.prices[1].price}}</td>
      </tr>
    </tbody>
  </table>
</ul>